#middlePanel {
  height: 100vh;
  width: 67.5vw;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #fff;
  border-left: 2.5em solid #272c4a;
  box-sizing: border-box;
}

#middlePanelLiner {
  height: 90%;
  width: 100%;
}
