.employeeButton {
  border: 1px solid transparent;
  width: 98%;
  justify-content: flex-start;
  margin: 1em 0;
  user-select: none;
  border-radius: 0.2rem;
}

.employeeButton p {
  transition: all 0.5s;
}

.employeeButton.selected p {
  color: #008280;
}

.sideButtonDescription {
  min-width: 8em;
  height: 4em;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.sideButtonDescriptionTop p,
.sideButtonDescriptionBottom p {
  margin: 0em;
  color: rgba(255, 255, 255, 0.4);
}

.sideButtonDescriptionTop p {
  color: rgba(255, 255, 255, 0.8);
}

p.timesheetEmployeeSectionTitle {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.4em;
  color: #eaeaea;
  font-size: 1.8em;
  font-weight: 300;
}

.deactivatedEmployeeClass {
  color: "#fc8e8e"
}
