#rightPanel {
  height: 100vh;
  width: 20vw;
  background-color: #F6F5FA;
  flex-direction: column;
  min-width: 16em;
}

#rightPanelLiner {
  height: 80%;
  width: 76%;
  overflow-y: scroll;
}

.employeeAdditionForm {
  position: relative;
  flex-direction: column;
}

.employeeAdditionForm i {
  position: absolute;
  top: -1em;
  right: 0;
  color: #40bd40;
  font-size: 1.4em;
}
