#rightPanel {
  height: 100vh;
  width: 18vw;
  flex-direction: column;
  min-width: 12em;
  align-items: flex-end;
}

#rightPanelLiner {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

.employeeAdditionForm {
  position: relative;
  flex-direction: column;
}
