.timeSheetSideOptions {
  flex-direction: column;
  justify-content: flex-start;
  max-height: 80vh;
  width: 100%;
  overflow-y: scroll;
  margin: 2em 0;
}

.sideOptionHeading {
  height: 20%;
  width: 100%;
}

.sideOptionBody {
  flex-wrap: wrap;
}

.tagLabel {
  position: relative;
}

.addInput {
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 0;
}

.activeClass {
  background-color: #bbe3ff;
  border: 1px solid #004779;
}

.deactivatedClass {
  background-color: #ffeaea;
  border: 1px solid #fc8e8e;
}
