#timesheet {
  height: 100%;
  width: 100%;
}

#topbar {
  width: 100%;
  flex-wrap: wrap;
}

#topbar p {
  color: rgba(33, 37, 63, 0.7)
}

.topBarButtonParent {
  margin: 1em 0 0 2.8em;
}

.topBarButton {
  height: 4.8em;
  width: 4.8em;
  border-radius: 0.2em;
  transition: all 0.3s;
  background-color: #f8f8f8;
}

.topBarButton.active {
  background-color:  #008280;
}

.topBarButton i {
  font-size: 2em;
  color: #a7a7a7;
  opacity: 0.6;
}

.topBarButton.active i {
  color: #fff;
  opacity: 1;
}

.topBarText {
  margin: 0;
  text-align: center;
  user-select: none;
}

#middlePanelMiddle {
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.middlePanelMiddleChild {
  height: 100%;
  width: 80%;
  min-width: 18em;
}

p.timesheetTitle {
  color: #272c4a;
}
