#timesheet {
  height: 100%;
  width: 100%;
}

#topbar {
  width: 100%;
  justify-content: flex-start;
  padding-left: 4em;
  flex-wrap: wrap;
}

#topbar p {
  color: rgba(33, 37, 63, 0.7)
}

.topBarButton {
  height: 4em;
  width: 4em;
  border-radius: 0.2em;
  margin: 0.5em 1.4em 0 1.4em;
  transition: all 0.3s;
  background-color: #f8f8f8;
}

.topBarButton.active {
  background-color:  #008280;
}

.topBarButton i {
  font-size: 2em;
  color: #a7a7a7;
  opacity: 0.6;
}

.topBarButton.active i {
  color: #fff;
  opacity: 1;
}

.topBarText {
  margin: 0;
  text-align: center;
  user-select: none;
}

#middlePanelMiddle {
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.middlePanelMiddleChild {
  height: 100%;
  width: 80%;
  min-width: 18em;
}

p.timesheetTitle {
  color: #42475B;
}
