#leftPanel {
  height: 100vh;
  width: 8vw;
  min-width: 6em;
}

#leftPanelLiner {
  height: 100%;
  width: 100%;
}

#leftPanelLiner {
  flex-direction: column;
  justify-content: flex-start;
}

.iconContainer {
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.6em;
  margin-top: 3em;
  transition: all 0.3s;
}

.iconContainer.selected {
  background-color: #1C4752;
  padding: 0.4em;
  border-radius: 0.6em;
}

.sideIcon {
  color: #fff;
  font-size: 1.72em;
  transition: all 0.3s;
}

.sideIcon:hover {
  cursor: pointer;
}
