#leftPanel {
  height: 100vh;
  width: 12.5vw;
}

#leftPanelLiner {
  height: 100%;
  width: 100%;
}

#leftPanelLiner {
  flex-direction: column;
  justify-content: flex-start;
}

.sideIcon {
  color: #E3DEF9;
  font-size: 1.72em;
  margin-top: 1.8em;
  transition: all 0.3s;
}

.sideIcon.selected {
  color: #6757A8;
}

.sideIcon:hover {
  cursor: pointer;
}
