.timeSheetSideOptions {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4em;
}

.sideOptionHeading {
  height: 20%;
  width: 100%;
}

.sideOptionBody {
  flex-wrap: wrap;
}
