#dateTimeWeather {
  border-radius: 2em;
  top: 1vh;
  position: absolute;
  height: 3em;
  width: 26em;
  background-color: #008280;
  color: #fff;
}

#dateTimeWeather p {
  letter-spacing: 3px;
}

#dateTimeWeather img {
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
