.timeSheetSideOptions {
  flex-direction: column;
  justify-content: flex-start;
  max-height: 80vh;
  width: 100%;
  overflow-y: scroll;
  margin: 2em 0;
}

.sideOptionHeading {
  height: 20%;
  width: 100%;
}

.sideOptionBody {
  flex-wrap: wrap;
}

.tagLabel {
  position: relative;
}

.addInput {
  text-align: center;
}
