.rightPanelButton {
  width: 100%;
  justify-content: flex-start;
  margin: 1em 0;
}

.sideButtonDescription {
  min-width: 8em;
  height: 4em;
  padding-left: 1em;
  flex-direction: column;
  align-items: flex-start;
}

.sideButtonDescriptionTop p,
.sideButtonDescriptionBottom p {
  margin: 0em;
}

.sideButtonDescriptionTop p {
  color: #3A3460;
}
