#timesheet {
  height: 100%;
  width: 100%;
}

#topbar {
  width: 100%;
  justify-content: flex-start;
  padding-left: 4em;
  flex-wrap: wrap;
}

.topBarButton {
  height: 4em;
  width: 4em;
  border-radius: 0.2em;
  margin: 0.5em 1.4em 0 1.4em;
}

.topBarButton i {
  font-size: 2em;
  color: #fff;
  opacity: 0.6;
}

.topBarText {
  margin: 0;
  text-align: center;
}

#middlePanelMiddle {
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.middlePanelMiddleChild {
  height: 100%;
  width: 33.33%;
  min-width: 18em;
}

#outterClockInButton {
  height: 12.5em;
  width: 12.5em;
  border-radius: 50%;
  background-color: #F1F0F6;
}

#clockInButton {
  height: 9.5em;
  width: 9.5em;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #DED0F1;
  -webkit-box-shadow: 0px 20px 7px -3px rgba(215,206,232,0.75);
  -moz-box-shadow: 0px 20px 7px -3px rgba(215,206,232,0.75);
  box-shadow: 0px 20px 7px -3px rgba(215,206,232,0.75);
}
