html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHeading p {
  font-size: 1rem;
  color: #6757A8;
  font-weight: bold;
  text-transform: uppercase;
}

.tag {
  background-color: #ece9fa;
  padding: 0.6rem;
  border-radius: 0.2rem;
  color: #5943b2;
  font-weight: bold;
  font-size: 1em;
  margin: 0.1rem;
  transition: all 0.3s;
  user-select: none;
  border: 1px solid #c5b8f7;
  text-transform: uppercase;
  overflow: hidden;
}

.tag.selected {
  background-color: #6757A8;
  color: #fff;
}

.tag:hover {
  cursor: pointer;
}

#dashboard {
  min-height: 100vh;
  width: 100vw;
}

.timesheetTitle {
  letter-spacing: 3px;
  font-size: 1.4em !important;
  margin: 0;
  font-weight: bold !important;
}
