html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #21253F;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHeading p {
  font-size: 1rem;
  color: #6757A8;
  font-weight: bold;
  text-transform: uppercase;
}

.tag {
  background-color: #f8f8f8;
  padding: 0.6rem;
  border-radius: 0.2rem;
  color: rgba(33, 37, 63, 0.7);
  font-weight: bold;
  font-size: 1em;
  margin: 0.2rem;
  transition: all 0.3s;
  user-select: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  overflow: hidden;
}

.tag.selected {
  background-color: #E1F5F4;
  color: #008280;
  border-color: #008280;
}

.tag:hover {
  cursor: pointer;
}

.tag:active {
  background-color: #008280
}

#dashboard {
  min-height: 100vh;
  width: 100vw;
}

.timesheetTitle {
  font-size: 1.4em !important;
  margin: 0;
  font-weight: 400 !important;
}
